﻿@using System.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<hr />
<ul>
    <li>Culture: @System.Globalization.CultureInfo.CurrentCulture.Name</li>
    <li>UI Culture: @System.Globalization.CultureInfo.CurrentUICulture.Name</li>
</ul>
